frontend/app/gen/** linguist-generated=true
backend/openapi.json linguist-generated=true
backend/requirements.lock linguist-generated=true
backend/requirements-dev.lock linguist-generated=true
frontend/package-lock.json linguist-generated=true
